@using HiLand.Utility.Entity
@model LogicStatusInfo
@{
    ViewBag.Title = "口令修改";

    bool isDisplayTip = false;
    string tipStatus = "success";
    string tipMessage = string.Empty;
    if (Model != null)
    {
        isDisplayTip = true;
        if (Model.IsSuccessful == true)
        {
            tipStatus = "success";
            tipMessage = "口令修改成功.";
        }
        else
        {
            tipStatus = "error";
            tipMessage = "在修改口令过程中出现错误！";
        }
    }

    Guid userGuid = Guid.Empty;
    HiLand.Framework.BusinessCore.BusinessUser currentUser = this.ViewBag.CurrentUser;
    if (currentUser != null)
    {
        userGuid = currentUser.UserGuid;
    }
}
<h2>
    口令修改
</h2>
@if (isDisplayTip == true)
{
    <div class="notification @tipStatus png_bg">
        <a href="#" class="close">
            <img src="@Url.Content("~/Content/NotificationImages/cross_grey_small.png")" title="Close this notification"
            alt="close" /></a>
        <div>
            @tipMessage
        </div>
    </div>
}
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td style="width:150px;">
                原始口令:
            </td>
            <td>@Html.TextBox("passwordOld")
            </td>
        </tr>
        <tr>
            <td>
                新口令:
            </td>
            <td>@Html.TextBox("passwordNew")
            </td>
        </tr>
        <tr>
            <td>
                新口令确认:
            </td>
            <td>@Html.TextBox("passwordNewConfirm")
            </td>
        </tr>
    </table>
    @Html.Hidden("userGuid", userGuid) <br />
    <input class="btn btn-warning" type="submit" value="修改" />
}