@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@using HiLand.Utility.Web;
@using XQYC.Web.Models;
@using HiLand.Utility.Enums;
@using XQYC.Business.Enums;

@model PagedList<InformationBrokerEntity>
@{
    ViewBag.Title = "Index";
    string currentUrl = HiLand.Utility.Web.RequestHelper.CurrentFullUrl;

    List<QueryConditionItem> queryItemList = new List<QueryConditionItem>();
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "信息员名称", ConditionFieldName = "InformationBrokerName", ConditionType = typeof(string) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "信息员类型", ConditionFieldName = "InformationBrokerType", ConditionType = typeof(InformationBrokerTypes) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "合作意向", ConditionFieldName = "InformationBrokerLevel", ConditionType = typeof(CommonLevels), AddonData = "enumDisplayCategory:star" });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "企业性质", ConditionFieldName = "InformationBrokerKind", ConditionType = typeof(string) });
}

<h2>信息员列表</h2>
<div id="ItemListDIV">
    <div>
        @using (Html.BeginForm())
        {
            @Html.HiQuery("QueryControl").QueryConditionList(queryItemList).IsDisplayBrackets(false).Render()
        }
    </div>
    <div class="OperateArea" id="OperateAreaContainer">
        <div class="btn-group">@Html.HiA("newDisplayA").CssClassName("modalInput btn btn-info").Value("<i class=\"icon-check icon-white\"></i>新建").ACA("Item", "InformationBroker").Render(new { rel = "#EditDIV" })</div>
    </div>
    <table width="98%" class="grid">
        <tr>
            <th style="width: 120px">操作
            </th>
            <th style="width: 80px">信息员名称
            </th>
            <th style="width: 80px">信息员简称
            </th>
            <th style="width: 40px">状态
            </th>
            <th style="width: 50px">类型
            </th>
            <th style="width: 50px">性质
            </th>
            <th style="width: 80px">信息提供人员
            </th>
            <th style="width: 80px">推荐人员
            </th>
            <th style="width: 80px">财务人员
            </th>
            <th>客服人员
            </th>
        </tr>
        @foreach (InformationBrokerEntity entity in Model)
        {
            string entityGuid = entity.InformationBrokerGuid.ToString();
            <tr>
                <td>
                    @Html.HiA().CssClassName("modalInput edit " + @entityGuid).Value("<i class=\"icon-edit\"></i>编辑").ACA("Item", "InformationBroker").Render(new { rel = "#EditDIV", itemKey = @entity.InformationBrokerGuid }) | 
                    @Html.HiA().CssClassName("modalInput user " + @entityGuid).Value("<i class=\"icon-user\"></i>用户").ACA("UserList", "InformationBroker").RouteValue(new { itemKey = @entity.InformationBrokerGuid, returnUrl = currentUrl }).Render() 
                </td>
                <td>@entity.InformationBrokerName
                </td>
                <td>@entity.InformationBrokerNameShort
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.CanUsable)
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.InformationBrokerType)
                </td>
                <td>@entity.InformationBrokerKind
                </td>
                <td>@entity.ProviderUserName
                </td>
                <td>@entity.RecommendUserName
                </td>
                <td>@entity.FinanceUserName
                </td>
                <td>@entity.ServiceUserName
                </td>
            </tr>   
        }
    </table>
    <div class="myPager">
        <span style="float: left;">@Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "id", ShowDisabledPagerItems = false, AlwaysShowFirstLastPageNumber = true }) </span>
        &nbsp;(共<span>@Model.TotalItemCount</span>条/每页<span>@SystemConst.CountPerPage</span>条 当前第<span>@Model.CurrentPageIndex</span> 页/共<span>@Model.TotalPageCount</span>页)
    </div>
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aInformationBrokerManageSection").click();
            $("#aInformationBrokerManageSection").addClass("current");
            $("#aInformationBrokerList").addClass("current");

            $(".modalInput").overlay({
                mask: {
                    color: '#ebecff',
                    loadSpeed: 200,
                    opacity: 0.9
                },
                closeOnClick: false
            });

            $("a.overlayClose").live("click", function () {
                window.location.reload();
            });

            $("#newDisplayA").click(function () {
                $(".modal").width("650px");
                var url = '@Url.Action("Item")?r=' + Math.random() + '&itemKey=&returnUrl=' + encodeURIComponent("@currentUrl");
                $("#EditDIV").load(url);
            });

            $("a.edit").click(function () {
                $(".modal").width("650px");
                var itemKey = $(this).attr("itemKey");
                $("#currentPopupItemGuid").val(itemKey);
                var url = '@Url.Action("Item")?r=' + Math.random() + '&itemKey=' + itemKey + "&returnUrl=" + encodeURIComponent("@currentUrl");
                $("#EditDIV").load(url);
            });

            $("a.password").click(function () {
                var itemGuid = $(this).attr("itemGuid");
                $("#currentPopupItemGuid").val(itemGuid);
                var url = '@Url.Action("Password")?r=' + Math.random() + '&userGuid=' + itemGuid;
                $("#EditDIV").load(url);
            });
        });
    </script>
</div>



