@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@using XQYC.Business.Enums;

@model InformationBrokerEntity
@{
    ViewBag.Title = "信息员信息";
    this.Layout = null;
}
<div id="formContainer">
    @* TODO:xieran 以下内容主要是为了修复弹出选择器的bug,有可能对页面其他的地方有影响 *@
    <style type="text/css">
        #main-content ul,
        #main-content ol {
            padding: 0 0 0 18px;
        }

            #main-content ul li {
                background: url() center left no-repeat;
                padding: 0px;
            }

        #main-content ol {
            padding: 0px;
        }

            #main-content ol li {
                list-style: none;
                padding: 0;
            }
    </style>
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td style="width: 120px;">信息员名称:
                </td>
                <td>@Html.TextBoxFor(entity => entity.InformationBrokerName)
                </td>
                <td style="width: 120px;">信息员简称:
                </td>
                <td>@Html.TextBoxFor(entity => entity.InformationBrokerNameShort)
                </td>
            </tr>
            <tr>
                <td>所属行业:
                </td>
                <td>@HtmlHelperEx.XQYCDDLEnterpriseType(Html, "IndustryKey", Model.IndustryKey)
                </td>
                <td>企业性质:
                </td>
                <td>@Html.TextBoxFor(entity => entity.InformationBrokerKind)
                </td>
            </tr>
            <tr>
                <td>所在地区:
                </td>
                <td>@HtmlHelperEx.XQYCDDLArea(Html, "AreaCode", Model.AreaCode)
                </td>
                <td>联系人信息:
                </td>
                <td>@Html.TextBoxFor(entity => entity.ContactPerson)
                </td>
            </tr>
            <tr>
                <td>企业地址:
                </td>
                <td>@Html.TextBoxFor(entity => entity.PrincipleAddress)
                </td>
                <td>所属机构:
                </td>
                <td>@Html.TextBoxFor(entity => entity.HigherOrganization)
                </td>
            </tr>
            <tr>
                <td style="width: 120px;">电话:
                </td>
                <td>@Html.TextBoxFor(entity => entity.Telephone)
                </td>
                <td>传真:
                </td>
                <td>@Html.TextBoxFor(entity => entity.Fax)
                </td>
            </tr>
            <tr>
                <td style="width: 120px;">Email:
                </td>
                <td>@Html.TextBoxFor(entity => entity.Email)
                </td>
                <td>网站:
                </td>
                <td>@Html.TextBoxFor(entity => entity.InformationBrokerWWW)
                </td>
            </tr>
            <tr>
                <td>邮政编码:
                </td>
                <td>@Html.TextBoxFor(entity => entity.PostCode)
                </td>
                <td>信息员类型:
                </td>
                <td>@Html.DropDownListFor(entity => entity.InformationBrokerType, EnumEx.BuildSelectItemList<InformationBrokerTypes>())
                </td>
            </tr>
            <tr>
                <td>合作意向:
                </td>
                <td>@Html.DropDownListFor(entity => entity.InformationBrokerLevel, EnumEx.BuildSelectItemList<CommonLevels>("star"))
                </td>
                <td>状态:
                </td>
                <td>@Html.DropDownListFor(entity => entity.CanUsable, EnumEx.BuildSelectItemList<Logics>())
                </td>
            </tr>
            <tr>
                <td>信息提供人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "ProviderUser", Model.ProviderUserName, Model.ProviderUserGuid.ToString())
                </td>
                <td>推荐人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "RecommendUser", Model.RecommendUserName, Model.RecommendUserGuid.ToString())
                </td>
            </tr>
            <tr>
                <td>财务人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "FinanceUser", Model.FinanceUserName, Model.FinanceUserGuid.ToString())
                </td>
                <td>客服人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "ServiceUser", Model.ServiceUserName, Model.ServiceUserGuid.ToString())
                </td>
            </tr>
            <tr>
                <td>业务人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "BusinessUser", Model.BusinessUserName, Model.BusinessUserGuid.ToString())
                </td>
                <td>安置人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "SettleUser", Model.SettleUserName, Model.SettleUserGuid.ToString())
                </td>
            </tr>
        </table>
        <input type="hidden" id="ItemKey" name="ItemKey" value="@Model.InformationBrokerGuid" />
        <input type="submit" id="submitButton" value="保存" class="btn btn-warning" /><a class="overlayClose" title="请暂时使用敲击键盘'ESC'键关闭本弹窗"></a>
    }
</div>
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@Url.Action("Index")');
        });
    });
</script>*@