@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@model InformationBrokerEntity
@{
    ViewBag.Title = "信息员信息";
    this.Layout = null;
}
<div id="formContainer">
    @* TODO:xieran 以下内容主要是为了修复弹出选择器的bug,有可能对页面其他的地方有影响 *@
    <style type="text/css">
        #main-content ul,
        #main-content ol {
            padding: 0 0 0 18px;
        }

        #main-content ul li {
            background: url() center left no-repeat;
            padding: 0px;
        }

        #main-content ol {
            padding: 0px;
        }

        #main-content ol li {
            list-style: none;
            padding: 0;
        }
    </style>
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td style="width: 120px;">信息员名称:
                </td>
                <td>@Html.TextBoxFor(entity => entity.UserNameCN)
                </td>
            </tr>
            <tr>
                <td>信息员账号:
                </td>
                <td>@Html.TextBoxFor(entity => entity.UserName)
                </td>
            </tr>
            <tr>
                <td>信息员Email:
                </td>
                <td>@Html.TextBoxFor(entity => entity.UserEmail)
                </td>
            </tr>
            <tr>
                <td>信息员性别:
                </td>
                <td>@Html.DropDownListFor(entity => entity.UserSex, EnumEx.BuildSelectItemList<Sexes>())
                </td>
            </tr>
            <tr>
                <td>用户状态:
                </td>
                <td>@Html.DropDownListFor(entity => entity.UserStatus, EnumEx.BuildSelectItemList<UserStatuses>())
                </td>
            </tr>
            <tr>
                <td>信息提供人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "ProviderUser", Model.ProviderUserName, Model.ProviderUserGuid.ToString())
                </td>
            </tr>
            <tr>
                <td>推荐人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "RecommendUser", Model.RecommendUserName, Model.RecommendUserGuid.ToString())
                </td>
            </tr>
            <tr>
                <td>财务人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "FinanceUser", Model.FinanceUserName, Model.FinanceUserGuid.ToString())
                </td>
            </tr>
            <tr>
                <td>客服人员:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCEmployeeChooser(Html, "ServiceUser", Model.ServiceUserName, Model.ServiceUserGuid.ToString())
                </td>
            </tr>
        </table>
        <input type="hidden" id="ItemKey" value="@Model.UserGuid" />
        <input type="submit" id="submitButton" value="保存" class="buttons" /><a class="overlayClose" title="请暂时使用敲击键盘'ESC'键关闭本弹窗"></a>
    }
</div>
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@Url.Action("Index")');
        });
    });
</script>*@

