@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Web.Models;

@model PagedList<RemindEntity>
@{
    ViewBag.Title = "提醒列表";
}

<h2>提醒列表</h2>
<div id="ItemListDIV">
    <div class="OperateArea" id="OperateAreaContainer">
    </div>
    <table width="98%" class="grid">
        <tr>
            @*<th style="width: 80px">操作
            </th>*@
            <th style="width: 120px">类别
            </th>
            <th style="width: 200px">提醒标题
            </th>
            <th>创建时间
            </th>
        </tr>
        @foreach (RemindEntity entity in Model)
        {
            <tr>
                @*<td>
                    @Html.HiA().CssClassName("modalInput known").Value("知道了").ACA("Known", "Remind").Render(new { rel = "#EditDIV", itemKey = @entity.RemindGuid }) | 
                </td>*@
                <td>@EnumHelper.GetDisplayValue(entity.RemindCategory)
                </td>
                <td>@entity.RemindTitle
                </td>
                <td>@entity.CreateDate.ToShortDateString()
                </td>
            </tr>   
        }
    </table>
    <div class="myPager"><span style="float:left;">@Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "id", ShowDisabledPagerItems = false, AlwaysShowFirstLastPageNumber = true }) </span>
     &nbsp;(共<span>@Model.TotalItemCount</span>条/每页<span>@SystemConst.CountPerPage</span>条 当前第<span>@Model.CurrentPageIndex</span> 页/共<span>@Model.TotalPageCount</span>页)</div>
    <div class="modal modalFix" id="EditDIV">
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).ready(function () {
                $("#aRemindSection").addClass("current");
            });

            $("a.edit").click(function () {
                var itemKey = $(this).attr("itemKey");
                var url = '@Url.Action("Item")' + '?KeyGuid=' + itemKey + '&r=' + Math.random();
                $("#EditDIV").load(url);
            });
        });
    </script>
</div>
