@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Web.Models;
@using HiLand.Utility.Enums;

@model PagedList<RemindEntity>
@{
    ViewBag.Title = "提醒列表";

    string currentUrl = HiLand.Utility.Web.RequestHelper.CurrentFullUrl;
    bool isUsingCompress = false;
    if (currentUrl.Length > 512)
    {
        isUsingCompress = true;
        currentUrl = CompressHelper.Compress(currentUrl);
    }

    List<QueryConditionItem> queryItemList = new List<QueryConditionItem>();
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "提醒标题", ConditionFieldName = "RemindTitle", ConditionType = typeof(string) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "是否已读", ConditionFieldName = "ReadStatus", ConditionType = typeof(Logics) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "类别", ConditionFieldName = "RemindCategory", ConditionType = typeof(RemindCategories) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "创建时间", ConditionFieldName = "CreateDate", ConditionType = typeof(DateTime), AddonData = "isRegionSelector:true" });
}

<h2>提醒列表</h2>
<div id="ItemListDIV">
    <div>
        @using (Html.BeginForm())
        {
            @Html.HiQuery("QueryControl").QueryConditionList(queryItemList).IsDisplayBrackets(false).Render()
        }
    </div>
    <div class="OperateArea" id="OperateAreaContainer">
    </div>
    <table width="98%" class="grid">
        <tr>
            <th style="width: 80px">操作
            </th>
            <th style="width: 80px">创建时间
            </th>
            <th style="width: 120px">类别
            </th>
            <th>提醒标题
            </th>
        </tr>
        @foreach (RemindEntity entity in Model)
        {
            <tr>
                <td>
                    @if (entity.ReadStatus == Logics.False)
                    {
                        <span>@Html.HiA().CssClassName("modalInput known").Value("设置已读").ACA("SetRead", "Remind").RouteValue(new { itemKey = entity.RemindGuid, isUsingCompress = isUsingCompress, returnUrl = currentUrl }).Render(new { itemKey = @entity.RemindGuid })</span>
                    }
                    else
                    {
                        <span>已读</span>
                    }
                </td>
                <td>@entity.CreateDate.ToShortDateString()
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.RemindCategory)
                </td>
                <td>@entity.RemindTitle
                </td>
            </tr>   
        }
    </table>
    <div class="myPager">
        <span style="float: left;">@Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "id", ShowDisabledPagerItems = false, AlwaysShowFirstLastPageNumber = true }) </span>
        &nbsp;(共<span>@Model.TotalItemCount</span>条/每页<span>@SystemConst.CountPerPage</span>条 当前第<span>@Model.CurrentPageIndex</span> 页/共<span>@Model.TotalPageCount</span>页)
    </div>
    <div class="modal modalFix" id="EditDIV">
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).ready(function () {
                $("#aRemindSection").addClass("current");
            });

            @*$("a.known").click(function () {
                var itemKey = $(this).attr("itemKey");
                var url = '@Url.Action("SetRead")' + '?itemKey=' + itemKey + '&isUsingCompress= @isUsingCompress&returnUrl=@currentUrl';
                $("#EditDIV").load(url);
            });*@
        });
    </script>
</div>
