@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@using HiLand.General.BLL;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility.Web;

@model List<LaborContractEntity>
@{
    ViewBag.Title = "Index";

    string returnUrl = RequestHelper.GetValue("returnUrl");
    bool isUsingCompress = RequestHelper.GetValue<bool>("isUsingCompress");
    if (isUsingCompress == true && string.IsNullOrWhiteSpace(returnUrl) == false)
    {
        returnUrl = CompressHelper.Decompress(returnUrl);
    }
    
    if(string.IsNullOrWhiteSpace(returnUrl))
    {
        returnUrl = Url.Action("Index");
    }

    int contractIndexNumber = 0;
}
<h2>劳务合同列表</h2>
<div id="ItemListDIV">
    <div class="OperateArea" id="OperateAreaContainer">
    </div>
    <table width="98%" class="grid">
        <tr>
            <th style="width: 50px">序号
            </th>
            <th style="width: 150px">企业名称
            </th>
            <th style="width: 80px">所在部门
            </th>
            <th style="width: 80px">所在车间
            </th>
            <th style="width: 150px">合同名称
            </th>
            <th style="width: 50px">当前合同
            </th>
            <th style="width: 50px">状态
            </th>
            <th style="width: 80px">合同开始时间
            </th>
            <th style="width: 80px">合同结束时间
            </th>
            <th>离职时间
            </th>
        </tr>
        @foreach (LaborContractEntity entity in Model)
        {
            string entityGuid = entity.LaborContractGuid.ToString();
            contractIndexNumber++;
            <tr>
                <td>
                    @contractIndexNumber
                </td>
                <td>@entity.Enterprise.CompanyNameShort
                </td>
                <td>@entity.LaborDepartment
                </td>
                <td>@entity.LaborWorkShop
                </td>
                <td>@entity.LaborContractDetails
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.LaborContractIsCurrent)
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.LaborContractStatus)
                </td>
                <td>@DateTimeHelper.ToSaftShortDateString(entity.LaborContractStartDate)
                </td>
                <td>@DateTimeHelper.ToSaftShortDateString(entity.LaborContractStopDate)
                </td>
                <td>@DateTimeHelper.ToSaftShortDateString(entity.LaborContractDiscontinueDate)
                </td>
            </tr>   
        }
    </table>
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aContractSection").click();
            $("#aContractSection").addClass("current");
            $("#aContractList").addClass("current");
        });
    </script>
</div>



