@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@using XQYC.Business.Enums;

@model LaborContractEntity
@{
    ViewBag.Title = "劳务人员批量派工";
    this.Layout = null;

    object itemKeysObject = this.ViewData["itemKeys"];

    string itemKeys = string.Empty;
    if (itemKeysObject != null)
    {
        itemKeys = itemKeysObject.ToString();
    }

    LaborContractEntity laborContractEntity = LaborContractEntity.Empty;
    if (Model != null)
    {
        laborContractEntity = Model;
    }
}
<div id="formContainer">
    <style type="text/css">
        #formContainer table td {
        }
    </style>
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td style="width: 150px;">合同内容:
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborContractDetails)
                </td>
            </tr>
            <tr>
                <td>企业:
                </td>
                <td>@HtmlHelperEx.XQYCAutoCompleteEnterprise(Html, "EnterpriseName", laborContractEntity.Enterprise.CompanyName, laborContractEntity.EnterpriseGuid.ToString())
                </td>
            </tr>
            <tr>
                <td>所在部门:
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborDepartment)
                </td>
            </tr>
            <tr>
                <td>所在车间
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborWorkShop)
                </td>
            </tr>
            <tr>
                <td>合同开始时间:
                </td>
                <td>@HtmlHelperEx.DateInput(Html, "LaborContractStartDate", Model.LaborContractStartDate.ToShortDateString())
                </td>
            </tr>
            <tr>
                <td>合同结束时间:
                </td>
                <td>@HtmlHelperEx.DateInput(Html, "LaborContractStopDate", Model.LaborContractStopDate.ToShortDateString())
                </td>
            </tr>
            <tr>
                <td>合同状态:
                </td>
                <td>@Html.DropDownListFor(entity => entity.LaborContractStatus, EnumEx.BuildSelectItemList<LaborWorkStatuses>())
                </td>
            </tr>
            <tr>
                <td>企业担负费用类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.MixCost, CostTypes.Enterprise, "EnterpriseMixCostFormularKey", Model.EnterpriseMixCostFormularKey)
                </td>
            </tr>
            <tr>
                <td>个人担负费用类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.MixCost, CostTypes.Person, "PersonMixCostFormularKey", Model.PersonMixCostFormularKey)
                </td>
            </tr>
        </table>
        <input type="hidden" id="ItemKeys" value="@itemKeys" />
        <input type="button" id="submitButton" value="保存" class="buttons" /><a class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form");
        });
    });
</script>

