@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@using XQYC.Business.Enums;

@model LaborContractEntity
@{
    ViewBag.Title = "劳务人员合同信息";
    this.Layout = null;

    string userKey = Model.LaborUserGuid.ToString();

    LaborContractEntity laborContractEntity = LaborContractEntity.Empty;
    if (Model != null)
    {
        laborContractEntity = Model;
    }
}
<div id="formContainer">
    <style type="text/css">
        #formContainer table td {
        }
    </style>
    @using (Html.BeginForm())
    { 
        <table>

            <tr>
                <td style="width: 150px;">企业:<i class="icon-comment" title="自动完成功能：当在输入框中输入2个字符后，系统就会查询符合条件的数据。请从下拉列表中选择目标信息。"></i>
                </td>
                <td>@HtmlHelperEx.XQYCAutoCompleteEnterprise(Html, "EnterpriseName", laborContractEntity.Enterprise.CompanyName, laborContractEntity.EnterpriseGuid.ToString())
                </td>
                <td style="width: 150px;">劳务人员工号:
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborCode)
                </td>
            </tr>
            <tr>
                <td>所在部门:
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborDepartment)
                </td>
                <td>所在车间
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborWorkShop)
                </td>
            </tr>
            <tr>
                <td>合同开始时间:
                </td>
                <td>@HtmlHelperEx.DateInput(Html, "LaborContractStartDate", Model.LaborContractStartDate.ToShortDateString())
                </td>
                <td>合同结束时间:
                </td>
                <td>@HtmlHelperEx.DateInput(Html, "LaborContractStopDate", Model.LaborContractStopDate.ToShortDateString())
                </td>
            </tr>
            <tr>
                <td>是否为最近执行合同:
                </td>
                <td>@Html.DropDownListFor(entity => entity.LaborContractIsCurrent, EnumEx.BuildSelectItemList<Logics>())
                </td>
                <td>合同状态:
                </td>
                <td>@Html.DropDownListFor(entity => entity.LaborContractStatus, EnumEx.BuildSelectItemList<LaborWorkStatuses>())
                </td>
            </tr>
            <tr>
                <td>合同内容:
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborContractDetails)
                </td>
                <td>用工方式</td>
                <td>
                    @Html.DropDownListFor(entity => entity.DispatchType,EnumEx.BuildSelectItemList<DispatchTypes>())
                </td>
            </tr>
            <tr>
                <td>企业综合费用类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.MixCost, CostTypes.Enterprise, "EnterpriseMixCostFormularKey", Model.EnterpriseMixCostFormularKey)
                </td>
                <td>企业管理费类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.ManageFee, CostTypes.Enterprise, "EnterpriseManageFeeFormularKey", Model.EnterpriseManageFeeFormularKey)
                </td>
            </tr>
            <tr>
                <td>企业保险类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.Insurance, CostTypes.Enterprise, "EnterpriseInsuranceFormularKey", Model.EnterpriseInsuranceFormularKey)
                </td>
                <td>企业公积金类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.ReserveFund, CostTypes.Enterprise, "EnterpriseReserveFundFormularKey", Model.EnterpriseReserveFundFormularKey)
                </td>
            </tr>
            <tr>
                <td>企业其他保险类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.OtherInstrance, CostTypes.Enterprise, "EnterpriseOtherInsuranceFormularKey", Model.EnterpriseOtherInsuranceFormularKey)
                </td>
                <td>企业税费类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.TaxFee, CostTypes.Enterprise, "EnterpriseTaxFeeFormularKey", Model.EnterpriseTaxFeeFormularKey)
                </td>
            </tr>
            <tr>
                <td>个人保险类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.Insurance, CostTypes.Person, "PersonInsuranceFormularKey", Model.PersonInsuranceFormularKey)
                </td>
                <td>个人公积金类型:
                </td>
                <td>@HtmlHelperEx.XQYCDDLCostFormular(Html, CostKinds.ReserveFund, CostTypes.Person, "PersonReserveFundFormularKey", Model.PersonReserveFundFormularKey)
                </td>
            </tr>
            <tr>
                <td>合同终止时间:
                </td>
                <td>@HtmlHelperEx.DateInput(Html, "LaborContractDiscontinueDate", Model.LaborContractDiscontinueDate.ToShortDateString())
                </td>
                <td>合同终止原因:
                </td>
                <td>@Html.TextBoxFor(m => m.LaborContractDiscontinueDesc)
                </td>
            </tr>
        </table>
        <input type="hidden" id="UserKey" name="UserKey" value="@userKey" />
        <input type="hidden" id="ItemKey" name="ItemKey" value="@Model.LaborContractGuid" />
        <input type="hidden" id="UserIDCard" name="UserIDCard" value="@Model.Labor.UserCardID" />
        <input type="button" id="submitButton" value="保存" class="btn btn-warning" /><a class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            var laborContractStartDateValue = $("#LaborContractStartDate").val();
            if (laborContractStartDateValue == "")
            {
                alert("请选择合同开始时间！");
                return false;
            }

            var laborContractStatusValue = $("#LaborContractStatus").val();
            var laborContractDiscontinueDateValue = $("#LaborContractDiscontinueDate").val();
            if (laborContractStatusValue == "UnNormalEnterpriseStop" || laborContractStartDateValue == "UnNormalPersenalStop")
            {
                if (laborContractDiscontinueDateValue == "") {
                    alert("请选择合同终止时间！");
                    return false;
                }
            }

            ////如果为非代理招聘的用工类型均需要回去输入身份证信息
            //var userCardIDValue = $("#UserIDCard").val();
            //var DispatchType = $("#DispatchType").val();
            //if (DispatchType != "HireBroke") {
            //    if (userCardIDValue == "") {
            //        alert("请回到劳务人员基本信息中输入其完整的身份证号！");
            //        return false;
            //    }
            //}

            submitAndRedirect("#formContainer form");
        });
    });
</script>

