@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@using XQYC.Business.Enums;

@model SalarySummaryEntity
@{
    ViewBag.Title = "劳务人员合同信息";
    this.Layout = null;

    string userKey = Model.LaborKey.ToString();
}
<div id="formContainer">
    <style type="text/css">
        #formContainer table td {
        }
    </style>
    @using (Html.BeginForm())
    { 
        <table>

            <tr>
                <td style="width: 150px;">劳务人员名称
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborName, new { @readonly = true })
                </td>
                <td style="width: 150px;">劳务人员工号:
                </td>
                <td>@Html.TextBoxFor(entity => entity.LaborCode, new { @readonly = true })
                </td>
            </tr>
            <tr>
                <td>企业综合费用修正:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseMixCostCalculatedFix)
                </td>
                <td>企业保险费用修正:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseInsuranceCalculatedFix)
                </td>
            </tr>
            <tr>
                <td>企业管理费用修正:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseManageFeeCalculatedFix)
                </td>
                <td>企业公积金修正:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseReserveFundCalculatedFix)
                </td>
            </tr>
            <tr>
                <td>企业其他保险费用修正:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseOtherInsuranceCalculatedFix)
                </td>
                <td>企业税费修正:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseTaxFeeCalculatedFix)
                </td>
            </tr>
            <tr>
                <td>个人保险费用修正:
                </td>
                <td>@Html.TextBoxFor(entity => entity.PersonInsuranceCalculatedFix)
                </td>
                <td>个人公积金修正:
                </td>
                <td>@Html.TextBoxFor(entity => entity.PersonReserveFundCalculatedFix)
                </td>
            </tr>
        </table>
        <input type="hidden" id="ItemKey" name="ItemKey" value="@Model.SalarySummaryGuid" />
        <input type="button" id="submitButton" value="保存" class="btn btn-warning" /><a class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form");
        });
    });
</script>

