@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@using XQYC.Business.Enums;

@model SalaryDetailsEntity
@{
    ViewBag.Title = "劳务人员合同信息";
    this.Layout = null;
}
<div id="formContainer">
    <style type="text/css">
        #formContainer table td {
        }
    </style>
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td style="width: 150px;">费用项名称:
                </td>
                <td>@Html.TextBoxFor(entity => entity.SalaryItemKey)
                </td>
            </tr>
            <tr>
                <td>费用项类型:
                </td>
                <td>@Html.DropDownListFor(entity => entity.SalaryItemKind, EnumEx.BuildSelectItemList<SalaryItemKinds>())
                </td>
            </tr>
            <tr>
                <td>费用:
                </td>
                <td>@Html.TextBoxFor(entity => entity.SalaryItemValue)
                </td>
            </tr>
        </table>
        <input type="hidden" id="ItemKey" name="ItemKey" value="@Model.SalaryDetailsGuid" />
        @Html.HiddenFor(entity=>entity.SalaryDetailsID)
        @Html.HiddenFor(entity=>entity.SalaryDetailsGuid)
        @Html.HiddenFor(entity=>entity.SalarySummaryKey)
        <input type="button" id="submitButton" value="保存" class="btn btn-warning" /><a class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@Url.Action("SalaryDetailsList", new { itemKey = Model.SalarySummaryKey })');
        });
    });
</script>

