@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;

@{
    ViewBag.Title = "BatchEntering";
}

<h2>劳务人员薪资批量导入</h2>
<style type="text/css">
    #main-content ul,
    #main-content ol {
        padding: 0 0 0 18px;
    }

        #main-content ul li {
            background: url() center left no-repeat;
            padding: 0px;
        }

    #main-content ol {
        padding: 0px;
    }

        #main-content ol li {
            list-style: none;
            padding: 0;
        }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", name = "myForm", id = "myForm" }))
{ 
    <table>
        <tr>
            <td>企业名称:<i class="icon-comment" title="自动完成功能：当在输入框中输入2个字符后，系统就会查询符合条件的数据。请从下拉列表中选择目标信息。"></i>
            </td>
            <td class="fixClass">
                @HtmlHelperEx.XQYCAutoCompleteEnterprise(Html, "EnterpriseName")
            </td>
            <td>薪资月份:</td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "SalaryMonth", string.Empty, "yyyy/mm")
            </td>
        </tr>
        <tr>
            <td>结算开始日期:
            </td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "SettlementStartDate", "")
            </td>
            <td>结算结束日期:</td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "SettlementEndDate", "")
            </td>
        </tr>
        <tr>
            <td>工资回款日期:
            </td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "SalaryCashDate", "")
            </td>
            <td>管理费回款日期:</td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "ManageFeeCashDate", "")
            </td>
        </tr>
        <tr>
            <td>保险回款日期:
            </td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "InsuranceCashDate", "")
            </td>
            <td>公积金回款日期:</td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "ReserveFundDate", "")
            </td>
        </tr>
        <tr>
            <td>其他保险回款日期:
            </td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "OtherInsuranceCashDate", "")
            </td>
            <td>税费回款日期:</td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "TaxFeeCashDate", "")
            </td>
        </tr>
        <tr>
            <td>招工费回款日期:
            </td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "GeneralRecruitDate", "")
            </td>
            <td>一次性招工费回款日期:</td>
            <td class="fixClass">
                @HtmlHelperEx.DateInput(Html, "OnceRecruitDate", "")
            </td>
        </tr>
        <tr>
            <td>Excel标题行号:
            </td>
            <td class="fixClass">
                <input type="text" name="headerRowNumber" value="1" />
            </td>
            <td>请选择Excel文件:</td>
            <td class="fixClass">
                <input type="file" name="fileSelector" /></td>
        </tr>
    </table>
    <input type="submit" name="submitButton" id="submitButton" rel="#EditDIV" class="modalInput btn btn-warning" value="导入" />
}
<div class="modal modalFix" id="EditDIV">
    <img src="@Url.Content("~/Content/Images/Loading.gif")" />
    数据导入中请等待...
</div>
<p>（说明：导入数据的Excel模板，请到“设置/模板下载”内获取）</p>
<script type="text/javascript">
    $(document).ready(function () {
        $("#aLaborSalarySection").click();
        $("#aLaborSalarySection").addClass("current");
        $("#aSalaryBatch").addClass("current");
        var operateResult = false;

        $(".modalInput").overlay({
            mask: {
                color: '#ebecff',
                loadSpeed: 200,
                opacity: 0.9
            },
            closeOnClick: false,
            onBeforeLoad: function () {
                operateResult = confirm("是否将该工资表导入系统（一旦导入无法撤回）?");
                return operateResult;
            }
        });

        $("#submitButton").click(function () {
            if (operateResult == true) {
                $("#myForm").submit();
            }
        })
    });
</script>
