@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@using HiLand.Utility.Web;
@using XQYC.Business.BLL;

@model List<SalaryDetailsEntity>
@{
    ViewBag.Title = "Index";
    string currentUrl = HiLand.Utility.Web.RequestHelper.CurrentFullUrl;
    string returnUrl = RequestHelper.GetValue("returnUrl");
    string salarySummaryKey = RequestHelper.GetValue("itemKey");

    string enterpriseName = string.Empty;
    string laborName = string.Empty;
    string salaryMonth= string.Empty;
    if(GuidHelper.IsInvalidOrEmpty(salarySummaryKey)==false)
    {
        SalarySummaryEntity salarySummaryEntity= SalarySummaryBLL.Instance.Get(salarySummaryKey);
        enterpriseName = salarySummaryEntity.Enterprise.CompanyNameShort;

        laborName = salarySummaryEntity.LaborName;
        salaryMonth= salarySummaryEntity.SalaryDate.ToString("yyyy/MM");
    }

    bool isUsingCompress = RequestHelper.GetValue<bool>("isUsingCompress");
    if (isUsingCompress == true && string.IsNullOrWhiteSpace(returnUrl) == false)
    {
        returnUrl = CompressHelper.Decompress(returnUrl);
    }
    
    if(string.IsNullOrWhiteSpace(returnUrl))
    {
        SalarySummaryEntity salarySummaryEntity= SalarySummaryBLL.Instance.Get(salarySummaryKey);
       
        string enterpriseKey=    salarySummaryEntity.EnterpriseKey;
        //string salaryMonth = salarySummaryEntity.SalaryDate.ToString("yyyy/MM");

        returnUrl = Url.Action("SalaryList", new { enterpriseKey = enterpriseKey, salaryMonth = salaryMonth });
    }
}

<h2>@string.Format("劳务人员薪资项列表({0}在{1}-{2})",laborName,enterpriseName,salaryMonth)</h2>
<div id="ItemListDIV">
    <div class="OperateArea" id="OperateAreaContainer">
        <div class="btn-group"><a href="@returnUrl" class="btn btn-warning" title="返回列表页"><i class="icon-share icon-white"></i>返回</a>@Html.HiA("newDisplayA").CssClassName("modalInput btn btn-warning").Value("<i class=\"icon-check icon-white\"></i>新建").ACA("SalaryDetails", "Labor").Render(new { rel = "#EditDIV" })</div>
    </div>
    <table width="98%" class="grid">
        <tr>
            <th style="width: 60px">操作
            </th>
            <th style="width: 80px">工资项类型
            </th>
            <th style="width: 180px">工资项名称
            </th>
            <th style="width: 180px">金额
            </th>
            <th>回款时间
            </th>
        </tr>
        @foreach (SalaryDetailsEntity entity in Model)
        {
            string entityGuid = entity.SalaryDetailsGuid.ToString();
            decimal salaryValue = entity.SalaryItemValue;
            <tr>
                <td>
                    @if(entity.SalaryItemKind== XQYC.Business.Enums.SalaryItemKinds.SalaryTax)
                    {
                        <span>不可编辑</span>
                    }
                    else
                    {
                       <span> @Html.HiA().CssClassName("modalInput edit " + @entityGuid).Value("<i class=\"icon-edit\"></i>编辑").ACA("SalaryDetails", "Labor").Render(new { rel = "#EditDIV", itemKey = @entityGuid }) </span>
                    }
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.SalaryItemKind)
                </td>
                <td>@entity.SalaryItemKey
                </td>
                <td>@salaryValue.ToString("0.00")
                </td>
                <td>@DateTimeHelper.ToSaftString(entity.SalaryItemCashDate)
                </td>
            </tr>   
        }
    </table>
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#aLaborSalarySection").click();
            $("#aLaborSalarySection").addClass("current");
            $("#aSalaryList").addClass("current");

            $(".modalInput").overlay({
                mask: {
                    color: '#ebecff',
                    loadSpeed: 200,
                    opacity: 0.9
                },
                closeOnClick: false
            });

            $("a.overlayClose").live("click", function () {
                $(document).simulateKeyPress('27');
                var currentItemGuid = $("#currentPopupItemGuid").val();
                $(".modalInput").overlay().close();
                $(".modalInput.edit." + currentItemGuid).overlay().close();
            });

            $("#newDisplayA").click(function () {
                var itemKey = "";
                var url = '@Url.Action("SalaryDetails")' + '?r=' + Math.random() + '&itemKey=' + itemKey + '&salarySummaryKey=@salarySummaryKey&returnUrl=@currentUrl';
                $("#EditDIV").load(url);
            });

            $("a.edit").click(function () {
                var itemKey = $(this).attr("itemKey");
                $("#currentPopupItemGuid").val(itemKey);
                var url = '@Url.Action("SalaryDetails")' + '?r=' + Math.random() + '&itemKey=' + itemKey + '&returnUrl=@currentUrl';
                $("#EditDIV").load(url);
            });
        });
    </script>
</div>