@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;

@{
    ViewBag.Title = "统计汇总查询条件选取";
}
<h2>统计汇总查询条件选取</h2>
<style type="text/css">
    #main-content ul,
    #main-content ol {
        padding: 0 0 0 18px;
    }

        #main-content ul li {
            background: url() center left no-repeat;
            padding: 0px;
        }

    #main-content ol {
        padding: 0px;
    }

        #main-content ol li {
            list-style: none;
            padding: 0;
        }
</style>
<div id="formContainer">
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td>部门（人员）名称</td>
                 <td  class="fixClass">
                     @HtmlHelperEx.XQYCResourceChooser(Html, XQYCTreeNodeSelectModes.All, "ResourceName","","")
                 </td>
            </tr>
            <tr>
                <td>合作企业名称:<i class="icon-comment" title="自动完成功能：当在输入框中输入2个字符后，系统就会查询符合条件的数据。请从下拉列表中选择目标信息。"></i>
                </td>
                <td class="fixClass">
                    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.17.custom.min.js")"></script>
                    @HtmlHelperEx.XQYCAutoCompleteEnterprise(Html, "EnterpriseName")
                </td>
            </tr>
            <tr>
                <td>用工方式</td>
                 <td  class="fixClass">
                     @Html.DropDownList("DispatchType", EnumEx.BuildSelectItemList<XQYC.Business.Enums.DispatchTypes>())
                 </td>
            </tr>
            <tr>
                <td style="width:30%;">
                    <select name="queryTimeSpanName" id="queryTimeSpanName">
                        <option value="balanceTime" selected="selected">结算时间</option>
                        <option value="jobStartingTime">入职时间</option>
                        <option value="jobLeavingTime">离职时间</option>
                    </select>
                </td>
                <td class="fixClass"  style="width:70%;">
                    <script type="text/javascript" src="@Url.Content("~/Scripts/jQuery.tools.min.js")"></script>
                    @HtmlHelperEx.DateInput(Html, "queryTimeSpanValueStart", string.Empty, "yyyy/mm/dd",false) - @HtmlHelperEx.DateInput(Html, "queryTimeSpanValueEnd", string.Empty, "yyyy/mm/dd",false)
                </td>
            </tr>
        </table>
        <input type="submit" id="submitButton" class="btn btn-warning submitFunction" value="查询" />
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#aLaborSalarySection").click();
        $("#aLaborSalarySection").addClass("current");
        $("#aStatisticalSummary").addClass("current");

        $("#submitButton").click(function () {
            //$("form", "#formContainer").attr("action", "@Url.Action("StatisticalSummaryList")");
            var queryTimeSpanValueStartValue= $("#queryTimeSpanValueStart").val();
            var queryTimeSpanValueEndValue = $("#queryTimeSpanValueEnd").val();

            if (queryTimeSpanValueStartValue == "" || queryTimeSpanValueEndValue == "") {
                alert("请必须选择时间跨度的开始和结束日期，谢谢。");
                return false;
            }
            else {
                var strDateS = new Date(queryTimeSpanValueStartValue);
                var strDateE = new Date(queryTimeSpanValueEndValue);
                       
                var intDay = (strDateE - strDateS) / (1000 * 3600 * 24);
                if (intDay > 93)
                {
                    alert("选择时间跨度必须在一个季度之内，谢谢。");
                    return false;
                }
            }
        });
    });
</script>
