@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@using XQYC.Web.Models;
@using HiLand.Utility.Web;
@using HiLand.General.BLL;
@using System.Web.UI.WebControls;
@using XQYC.Business.Enums;

@model List<EmployeeScoreStatisticalEntity>
@{
    ViewBag.Title = "Index";
    string currentUrl = RequestHelper.CurrentFullUrl;

    bool isUsingCompress = true;
    currentUrl = CompressHelper.Compress(currentUrl);


    string resourceName = RequestHelper.GetValue("resourceName");
    string resourceValue = RequestHelper.GetValue("resourceValue");
    string resourceType = RequestHelper.GetValue("resourceType");

    string enterpriseKey = ControlHelper.GetRealValue("enterpriseKey", string.Empty);

    string dispatchTypeString = RequestHelper.GetValue("dispatchType");
    DispatchTypes dispatchType = DispatchTypes.UnSet;
    dispatchType = EnumHelper.GetItem<DispatchTypes>(dispatchTypeString, DispatchTypes.UnSet);

    string queryTimeSpanName = RequestHelper.GetValue("queryTimeSpanName");

    DateTime queryTimeSpanValueStart = RequestHelper.GetValue("queryTimeSpanValueStart", DateTimeHelper.Min);
    DateTime queryTimeSpanValueEnd = RequestHelper.GetValue("queryTimeSpanValueEnd", DateTimeHelper.Min);
}

<h2>@string.Format("劳务人员统计汇总")</h2>
<div id="ItemListDIV">
    <div>
    </div>
    <div class="OperateArea" id="OperateAreaContainer">
        <div class="btn-group">
            @XQYC.Web.Control.HtmlHelperEx.ExportExcel(Html)
        </div>
    </div>
    <div id="MyTable_tableLayout">
        <div id="MyTable_tableFix">
            <table id="MyTable_tableFixClone" border="1" cellspacing="0" cellpadding="0"></table>
        </div>
        <div id="MyTable_tableHead">
            <table id="MyTable_tableHeadClone" border="1" cellspacing="0" cellpadding="0"></table>
        </div>
        <div id="MyTable_tableColumn">
            <table id="MyTable_tableColumnClone" border="1" cellspacing="0" cellpadding="0"></table>
        </div>
        <div id="MyTable_tableData">
            <table id="MyTable" style="width: 1000px" class="grid" border="1" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th style="width: 180px">部门
                        </th>
                        <th style="width: 80px">人员姓名
                        </th>
                        <th style="width: 80px">招聘数
                        </th>
                        <th style="width: 80px">信息提供数
                        </th>
                        <th style="width: 80px">开发数
                        </th>
                        <th>客服数
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EmployeeScoreStatisticalEntity entity in Model)
                    {
                        <tr>
                            <td>
                                @entity.DepartmentFullName
                            </td>
                            <td>@entity.EmployeeName
                            </td>
                            <td>
                                <a target="_self" href="@Url.Action("StatisticalSummaryDetails", new { enterpriseKey = enterpriseKey, dispatchType = dispatchType, queryTimeSpanName = queryTimeSpanName, queryTimeSpanValueStart = queryTimeSpanValueStart, queryTimeSpanValueEnd = queryTimeSpanValueEnd, serviceUserGuid = entity.EmployeeGuid, serviceRoleName = "LBBusiness", returnUrl = currentUrl, isUsingCompress = isUsingCompress })" >@entity.LaborCountOfLaborBusiness</a>
                            </td>
                            <td>
                                <a target="_self" href="@Url.Action("StatisticalSummaryDetails", new { enterpriseKey = enterpriseKey, dispatchType = dispatchType, queryTimeSpanName = queryTimeSpanName, queryTimeSpanValueStart = queryTimeSpanValueStart, queryTimeSpanValueEnd = queryTimeSpanValueEnd, serviceUserGuid = entity.EmployeeGuid, serviceRoleName = "ETProvide", returnUrl = currentUrl, isUsingCompress = isUsingCompress })" >@entity.LaborCountOfEnterpriseProvide</a>
                            </td>
                            <td>
                                <a target="_self" href="@Url.Action("StatisticalSummaryDetails", new { enterpriseKey = enterpriseKey, dispatchType = dispatchType, queryTimeSpanName = queryTimeSpanName, queryTimeSpanValueStart = queryTimeSpanValueStart, queryTimeSpanValueEnd = queryTimeSpanValueEnd, serviceUserGuid = entity.EmployeeGuid, serviceRoleName = "ETBusiness", returnUrl = currentUrl, isUsingCompress = isUsingCompress })" >@entity.LaborCountOfEnterpriseBusiness</a>
                            </td>
                            <td>
                                <a target="_self" href="@Url.Action("StatisticalSummaryDetails", new { enterpriseKey = enterpriseKey, dispatchType = dispatchType, queryTimeSpanName = queryTimeSpanName, queryTimeSpanValueStart = queryTimeSpanValueStart, queryTimeSpanValueEnd = queryTimeSpanValueEnd, serviceUserGuid = entity.EmployeeGuid, serviceRoleName = "LBService", returnUrl = currentUrl, isUsingCompress = isUsingCompress })" >@entity.LaborCountOfLaborService</a>
                            </td>
                        </tr>   
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="myPager">
    </div>
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aLaborSalarySection").click();
            $("#aLaborSalarySection").addClass("current");
            $("#aStatisticalSummary").addClass("current");
        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fixTable.js")" ></script>
    <script type="text/javascript">
        fixTable("MyTable", 2, "100%", 400);
    </script>
</div>
