@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Utility4.Data;
@using XQYC.Business.Entity;
@using XQYC.Business.Enums;

@model CostFormularEntity
@{
    ViewBag.Title = "保险公积金信息";
    this.Layout = null;
}
<div id="formContainer">
<style type="text/css">
    #formContainer table td
    {
        
    }
</style>
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td style="width: 150px;">
                    名称:
                </td>
                <td>@Html.TextBoxFor(entity => entity.CostFormularName)
                </td>
            </tr>
            <tr>
                <td>
                    类别:
                </td>
                <td>@Html.DropDownListFor(entity => entity.CostType, EnumEx.BuildSelectItemList<CostTypes>())
                </td>
            </tr>
            <tr>
                <td>
                   种类 :
                </td>
                <td>@Html.DropDownListFor(entity => entity.CostKind, EnumEx.BuildSelectItemList<CostKinds>())
                </td>
            </tr>
            <tr>
                <td>
                    是否可用:
                </td>
                <td>@Html.DropDownListFor(entity => entity.CanUsable, EnumEx.BuildSelectItemList<Logics>())
                </td>
            </tr>
            <tr>
                <td>
                    公式:
                </td>
                <td>@Html.TextBoxFor(entity => entity.CostFormularValue)
                </td>
            </tr>
            <tr>
                <td>
                    说明:
                </td>
                <td>@Html.TextBoxFor(entity => entity.CostFormularDesc)
                </td>
            </tr>
        </table>
        <input type="hidden" id="KeyGuid" name="KeyGuid" value="@Model.CostFormularGuid" />
        <input type="button" id="submitButton" value="保存" class="btn btn-warning" /><a id="overlayClose" class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@Url.Action("Index")');
        });
    });
</script>
