@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@model PagedList<LaborEntity>
@{
    ViewBag.Title = "Index";
    string currentUrl = HiLand.Utility.Web.RequestHelper.CurrentFullUrl;
}

<h2>劳务人员列表</h2>
<div id="ItemListDIV">
    <div class="OperateArea" id="OperateAreaContainer">
        
    </div>
    <table width="98%" class="grid">
        <tr>
            <th style="width: 80px">身份证
            </th>
            <th style="width: 80px">人员名称
            </th>
            <th style="width: 80px">人员状态
            </th>
            <th style="width: 80px">工作状态
            </th>
            <th style="width: 80px">人员入册时间
            </th>
            <th>客服人员
            </th>
        </tr>
        @foreach (LaborEntity entity in Model)
        {
            string entityGuid = entity.UserGuid.ToString();
            <tr>
                <td>@entity.UserCardID
                </td>
                <td>@entity.UserNameCN
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.UserStatus)
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.LaborWorkStatus)
                </td>
                <td>@entity.UserRegisterDate.ToShortDateString()
                </td>
                <td>@entity.ServiceUserName
                </td>
            </tr>   
        }
    </table>
    @Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "id", ShowDisabledPagerItems = false, AlwaysShowFirstLastPageNumber = true })
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aLaborSection").click();
            $("#aLaborSection").addClass("current");
            $("#aLaborList").addClass("current");

            $(".modalInput").overlay({
                mask: {
                    color: '#ebecff',
                    loadSpeed: 200,
                    opacity: 0.9
                },
                closeOnClick: false
            });

            $("a.overlayClose").live("click", function () {
                var currentItemGuid = $("#currentPopupItemGuid").val();
                $(".modalInput").overlay().close();
                $(".modalInput.edit." + currentItemGuid).overlay().close();
                $(".modalInput.password." + currentItemGuid).overlay().close();
            });

            $("a.edit").click(function () {
                $(".modal").width("650px");
                var itemKey = $(this).attr("itemKey");
                $("#currentPopupItemGuid").val(itemKey);
                var url = '@Url.Action("Item")' + '?r=' + Math.random() + '&itemKey=' + itemKey + '&returnUrl=@currentUrl';
                $("#EditDIV").load(url);
            });
        });
    </script>
</div>



