@using HiLand.Utility.Entity.Status;
@using HiLand.Utility.Enums;
@model List<SystemStatusInfo>
@{
    ViewBag.Title = "操作结果";

    string returnUrl = this.ViewData["returnUrl"].ToString();

    List<SystemStatusInfo> statusList = new List<SystemStatusInfo>();
    if (Model != null)
    {
        statusList = Model;
    }
}

<h2>操作结果</h2>
@using (Html.BeginForm())
{
    for (int i = 0; i < statusList.Count; i++)
    {
        SystemStatusInfo currentItem = statusList[i];
        string cssClassName = "hl_Success";
        string displayMessage = currentItem.Message;

        switch (currentItem.SystemStatus)
        {
            case SystemStatuses.Failuer:
                cssClassName = "hl_Failuer";
                break;
            case SystemStatuses.Tip:
                cssClassName = "hl_Tip";
                break;
            case SystemStatuses.Warnning:
                cssClassName = "hl_Warnning";
                break;
            case SystemStatuses.Success:
            default:
                cssClassName = "hl_Success";
                break;
        }
    <div class="hl_Status @cssClassName">@Html.Raw(displayMessage)</div>
    <input type="hidden" name="inputDisplayContent+@i"  value="@displayMessage" />
    }
    <input type="hidden" name="inputDisplayCount" value="@statusList.Count" />
    
    <div class="btn-group">
        @if (string.IsNullOrWhiteSpace(returnUrl) == false)
        { 
            <a href="@returnUrl" class="btn btn-info" style="height:20px;" target="_self" title="返回"><i class="icon-share icon-white"></i>返回</a>
        }

        <input type="submit" class="btn btn-info"  style="height:30px;" name="SavaAs" value="导出另存" />
    </div>
}



