@using XQYC.Business.Entity;
@using HiLand.General.Entity;
@using HiLand.Utility.Data;
@using HiLand.Utility.Controls;

@{
    ViewBag.Title = "Home Page";
    HiLand.Framework.BusinessCore.BusinessUser CurrentUser = HiLand.Framework.BusinessCore.BLL.BusinessUserBLL.CurrentUser;

    List<LaborContractEntity> laborDiscontinueContractList = (List<LaborContractEntity>)this.ViewData["laborDiscontinueContractList"];
    int laborDiscontinueCount = (int)this.ViewData["laborDiscontinueCount"];

    List<LaborContractEntity> laborLastContractList = (List<LaborContractEntity>)this.ViewData["laborLastContractList"];
    int laborLastCountCount = (int)this.ViewData["laborLastCountCount"];

    List<LaborEntity> laborLastestList = (List<LaborEntity>)this.ViewData["laborLastestList"];
    int laborRegisterCount = (int)this.ViewData["laborRegisterCount"];

    List<RemindEntity> remindList = (List<RemindEntity>)this.ViewData["remindList"];
    int remindCount = (int)this.ViewData["remindCount"];


    List<EnterpriseJobEntity> enterpriseJobLastList = (List<EnterpriseJobEntity>)this.ViewData["enterpriseJobLastList"];
    int enterpriseJobCount = (int)this.ViewData["enterpriseJobCount"];
}

<style type="text/css">
    .moduleStyle a {
        color:#333;
    }
</style>
<div style="margin-bottom: 20px;"></div>

<div class="moduleStyle moduleStyle1">
    <h5>个人信息摘要
    </h5>
    <div>登录账户为：@CurrentUser.UserName</div>
    <div>姓名为：@CurrentUser.UserNameDisplay</div>
    <div>所在部门为：@CurrentUser.Department.DepartmentFullPath</div>
    <div>最近一次的登录时间为：@CurrentUser.UserLastDateTime.ToString()</div>
    <div>最近一次的登录IP为：@CurrentUser.UserLastIP</div>
</div>
<div class="moduleStyle moduleStyle1">
    <h5><a href="@Url.Action("JobQueryList", "Enterprise")">最新招工信息(最近一月内录入的招工信息为: @enterpriseJobCount )</a>
    </h5>
    @foreach (EnterpriseJobEntity item in enterpriseJobLastList)
    {
        string stringData = string.Format("【{0}】{1} {2}", item.CreateTime.ToShortDateString(), item.EnterpriseName, item.EnterpriseJobTitle);
        <div><a href="@Url.Action("JobQueryList", "Enterprise",new { QueryControl_QueryControlDisplayStatus="open",QueryControl_ConditionCountName=1,QueryControl_ConditionFieldName_0="EnterpriseName",QueryControl_ConditionTypeName_0="System.String,mscorlib",QueryControl_ConditionValueName_0=item.EnterpriseName,QueryControl_ConditionOperatorName_0="like"})">@Html.Raw(ControlUtil.TitledAndTrimedSpan(stringData, 40))</a></div>
    }
</div>
<div class="moduleStyle moduleStyle1">
    <h5><a href="@Url.Action("Index", "Remind")">提醒摘要(您共有 @remindCount 条信息未读)</a>
    </h5>
    @foreach (RemindEntity item in remindList)
    {
        string stringData = string.Format("【{0}】{1}", item.CreateDate.ToShortDateString(), item.RemindTitle);
        <div><a href="@Url.Action("Index", "Remind",new { QueryControl_QueryControlDisplayStatus="open",QueryControl_ConditionCountName=1,QueryControl_ConditionFieldName_0="RemindTitle",QueryControl_ConditionTypeName_0="System.String,mscorlib",QueryControl_ConditionValueName_0=item.RemindTitle,QueryControl_ConditionOperatorName_0="like"})">@Html.Raw(ControlUtil.TitledAndTrimedSpan(stringData, 40))</a></div>
    }
</div>
<div class="moduleStyle moduleStyle1">
    <h5><a href="@Url.Action("Index", "Labor")">最新劳务人员信息(最近一月内录入的人数为: @laborRegisterCount)</a>
    </h5>
    @foreach (LaborEntity item in laborLastestList)
    {
        string stringData = string.Format("【{0}】的信息于【{1}】录入系统", item.UserNameCN, item.UserRegisterDate.ToShortDateString());
        <div><a href="@Url.Action("Index", "Labor",new { LaborQuery_QueryControlDisplayStatus="open",LaborQuery_ConditionCountName=1,LaborQuery_ConditionFieldName_0="UserNameCN",LaborQuery_ConditionTypeName_0="System.String,mscorlib",LaborQuery_ConditionValueName_0=item.UserNameCN,LaborQuery_ConditionOperatorName_0="like"})">@Html.Raw(ControlUtil.TitledAndTrimedSpan(stringData, 40))</a></div>
    }
</div>
<div class="moduleStyle moduleStyle1">
    <h5><a href="@Url.Action("ContractQueryList", "Labor")">最新入职劳务人员信息(最近一月内入职的人数为: @laborLastCountCount)</a>
    </h5>
    @foreach (LaborContractEntity item in laborLastContractList)
    {
        string stringData = string.Format("【{0}】于【{1}】在【{2}】入职", item.Labor.UserNameCN, item.LaborContractStartDate.ToShortDateString(), item.Enterprise.CompanyNameShort);
        <div><a href="@Url.Action("ContractQueryList", "Labor",new { QueryControl_QueryControlDisplayStatus="open",QueryControl_ConditionCountName=1,QueryControl_ConditionFieldName_0="UserNameCN",QueryControl_ConditionTypeName_0="System.String,mscorlib",QueryControl_ConditionValueName_0=item.Labor.UserNameCN,QueryControl_ConditionOperatorName_0="like"})">@Html.Raw(ControlUtil.TitledAndTrimedSpan(stringData, 40))</a></div>
    }
</div>
<div class="moduleStyle moduleStyle1">
    <h5><a href="@Url.Action("ContractQueryList", "Labor")">最新离职人员信息(最近一月内离职的人数为: @laborDiscontinueCount)</a>
    </h5>
    @foreach (LaborContractEntity item in laborDiscontinueContractList)
    {
        string stringData = string.Format("【{0}】于【{1}】在【{2}】离职", item.Labor.UserNameCN, item.LaborContractDiscontinueDate.ToShortDateString(), item.Enterprise.CompanyNameShort);
        <div><a href="@Url.Action("ContractQueryList", "Labor",new { QueryControl_QueryControlDisplayStatus="open",QueryControl_ConditionCountName=1,QueryControl_ConditionFieldName_0="UserNameCN",QueryControl_ConditionTypeName_0="System.String,mscorlib",QueryControl_ConditionValueName_0=item.Labor.UserNameCN,QueryControl_ConditionOperatorName_0="like"})">@Html.Raw(ControlUtil.TitledAndTrimedSpan(stringData, 40))</a></div>
    }
</div>
<div class="clear"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#aDashboardSection").addClass("current");
    });
</script>
