@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@using HiLand.General.BLL;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility.Web;
@using HiLand.Utility.Enums;

@model PagedList<ForeOrderEntity>
@{
    ViewBag.Title = "Index";

    string currentUrl = HiLand.Utility.Web.RequestHelper.CurrentFullUrl;
    bool isUsingCompress = false;
    if (currentUrl.Length > 512)
    {
        isUsingCompress = true;
        currentUrl = CompressHelper.Compress(currentUrl);
    }

    List<QueryConditionItem> queryItemList = new List<QueryConditionItem>();
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "企业名称", ConditionFieldName = "OwnerName", ConditionType = typeof(string) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "付费状态,餐补领取状态", ConditionFieldName = "ForeOrderPaid,CommissionIsDrawed", ConditionType = typeof(Logics) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "履行状态", ConditionFieldName = "ForeOrderStatus", ConditionType = typeof(ForeOrderStatuses) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "预定时间,录入时间", ConditionFieldName = "ForeOrderDate,CreateTime", ConditionType = typeof(DateTime) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "预定时间,录入时间", ConditionFieldName = "ForeOrderDate,CreateTime", ConditionType = typeof(DateTime) });
}
<h2>企业预定摊位查询</h2>
<div id="ItemListDIV">
    <div>
        @using (Html.BeginForm())
        {
            @Html.HiQuery("QueryControl").QueryConditionList(queryItemList).IsDisplayBrackets(false).Render()
        }
    </div>
    <div class="OperateArea" id="OperateAreaContainer">
        <div class="btn-group">@*@XQYC.Web.Control.HtmlHelperEx.ExportExcel(Html)*@</div>
    </div>
    <div class="dataContainer">
        <table style="width: 100%" class="grid">
            <tr>
                <th style="width: 180px">企业名称
                </th>
                <th style="width: 50px">预定时间
                </th>
                <th style="width: 50px">状态
                </th>
                <th style="width: 50px">摊位数量
                </th>
                <th style="width: 50px">总费用
                </th>
                <th style="width: 50px">付款状态
                </th>
                <th style="width: 50px">餐补费用
                </th>
                <th style="width: 80px">是否领取餐补
                </th>
                <th style="width: 80px">餐补领取日期
                </th>
                <th>摊位说明
                </th>
            </tr>
            @foreach (ForeOrderEntity entity in Model)
            {
                string entityGuid = entity.ForeOrderGuid.ToString();
                <tr>
                    <td>@entity.OwnerName
                    </td>
                    <td>@entity.ForeOrderDate.ToShortDateString()
                    </td>
                    <td>@EnumHelper.GetDisplayValue(entity.ForeOrderStatus)
                    </td>
                    <td>@entity.ForeOrderCount
                    </td>
                    <td>@entity.ForeOrderTotalFee.ToString("0.00")
                    </td>
                    <td>@EnumHelper.GetDisplayValue(entity.ForeOrderPaid)
                    </td>
                    <td>@entity.CommissionFee.ToString("0.00")
                    </td>
                    <td>@EnumHelper.GetDisplayValue(entity.CommissionIsDrawed)
                    </td>
                    <td>@entity.CommissionDate.ToShortDateString()
                    </td>
                    <td>@entity.ForeOrderTitle
                    </td>
                </tr>   
            }
        </table>
    </div>
    <div class="myPager">
        <span style="float: left;">@Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "id", ShowDisabledPagerItems = false, AlwaysShowFirstLastPageNumber = true }) </span>
        &nbsp;(共<span>@Model.TotalItemCount</span>条/每页<span>@XQYC.Web.Models.SystemConst.CountPerPage</span>条 当前第<span>@Model.CurrentPageIndex</span> 页/共<span>@Model.TotalPageCount</span>页)
    </div>
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aEnterpriseSection").click();
            $("#aEnterpriseSection").addClass("current");
            $("#aBoothQueryList").addClass("current");

            $(".modalInput").overlay({
                mask: {
                    color: '#ebecff',
                    loadSpeed: 200,
                    opacity: 0.9
                },
                closeOnClick: false
            });

            $("a.overlayClose").live("click", function () {
                var currentItemGuid = $("#currentPopupItemGuid").val();
                $(".modalInput").overlay().close();
                $(".modalInput.edit." + currentItemGuid).overlay().close();
            });
        });
    </script>
</div>
