@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@model EnterpriseContractEntity
@{
    ViewBag.Title = "人员信息";
    this.Layout = null;
    
    string enterpriseKey= this.ViewBag.EnterpriseKey;
    if(Model.IsEmpty==false)
    {
        enterpriseKey = Model.EnterpriseGuid.ToString();
    }
}
<div id="formContainer">
<style type="text/css">
    #formContainer table td
    {
        
        }
</style>
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td style="width: 150px;">
                    合同名称:
                </td>
                <td>@Html.TextBoxFor(entity => entity.ContractTitle)
                </td>
            </tr>
            <tr>
                <td>
                    人员需求:
                </td>
                <td>@Html.TextBoxFor(entity => entity.ContractLaborAddon)
                </td>
            </tr>
            <tr>
                <td>
                    人员数量:
                </td>
                <td>@Html.TextBoxFor(entity => entity.ContractLaborCount)
                </td>
            </tr>
            <tr>
                <td>
                    合同开始时间:
                </td>
                <td>@HtmlHelperEx.DateInput(Html, "ContractStartDate", Model.ContractStartDate.ToShortDateString())
                </td>
            </tr>
            <tr>
                <td>
                    合同结束时间:
                </td>
                <td>@HtmlHelperEx.DateInput(Html, "ContractStopDate", Model.ContractStopDate.ToShortDateString())
                </td>
            </tr>
            <tr>
                <td>合同状态:
                </td>
                <td>@Html.DropDownListFor(entity => entity.ContractStatus, EnumEx.BuildSelectItemList<Logics>())
                </td>
            </tr>
        </table>
        <input type="hidden" id="EnterpriseKey" name="EnterpriseKey" value="@enterpriseKey" />
        <input type="hidden" id="ItemKey" name="ItemKey" value="@Model.ContractGuid" />
        <input type="button" id="submitButton" value="保存" class="btn btn-warning" /><a class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@Url.Action("ContractList", new { itemKey= enterpriseKey })');
        });
    });
</script>

