@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@using XQYC.Web.Models;
@using HiLand.Utility.Enums;
@using System.Web.UI.WebControls;
@using HiLand.General.BLL;
@using HiLand.Utility.Controls;

@model PagedList<EnterpriseServiceEntity>
@{
    ViewBag.Title = "Index";

    string currentUrl = HiLand.Utility.Web.RequestHelper.CurrentFullUrl;
    bool isUsingCompress = false;
    if (currentUrl.Length > 512)
    {
        isUsingCompress = true;
        currentUrl = CompressHelper.Compress(currentUrl);
    }

    List<AreaEntity> areaList = XQYC.Web.Control.HtmlHelperEx.XQYCItemsArea();
    List<ListItem> areaItemList = new List<ListItem>();
    areaItemList.Add(new ListItem("Please Choose", ""));
    foreach (AreaEntity item in areaList)
    {
        areaItemList.Add(new ListItem(item.AreaName, item.AreaCode));
    }

    List<BasicSettingEntity> industryTypeList = BasicSettingBLL.Instance.GetListOfIndustryType();
    List<ListItem> industryTypeItemList = new List<ListItem>();
    industryTypeItemList.Add(new ListItem("Please Choose", ""));
    for (int i = 0; i < industryTypeList.Count; i++)
    {
        BasicSettingEntity industryTypeItem = industryTypeList[i];
        ListItem listItem = new ListItem();
        listItem.Text = industryTypeItem.DisplayName;
        listItem.Value = industryTypeItem.SettingKey;

        industryTypeItemList.Add(listItem);
    }

    List<QueryConditionItem> queryItemList = new List<QueryConditionItem>();
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "企业名称,地区范围,服务人员,开发人员", ConditionFieldName = "CompanyName,AreaOther,ServiceUserName,BusinessUserName", ConditionType = typeof(string) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "合作意向", ConditionFieldName = "EnterpriseLevel", ConditionType = typeof(CommonLevels), AddonData = "enumDisplayCategory:star" });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "企业性质", ConditionFieldName = "BusinessType", ConditionType = typeof(EnterpriseTypes) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "企业状态", ConditionFieldName = "CanUsable", ConditionType = typeof(Logics) });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "行业类型", ConditionFieldName = "IndustryKey", ConditionType = typeof(string), ConditionValueItems = industryTypeItemList });
    queryItemList.Add(new QueryConditionItem() { ConditionDisplayName = "所在地区", ConditionFieldName = "AreaCode", ConditionType = typeof(string), ConditionValueItems = areaItemList });

    int rowNumber = 0;
}

<h2 style="display: inline-block">劳务派遣企业列表</h2>
<ul class="nav nav-tabs" style="display: inline-block; padding: 2px 0 0 0;">
    <li id="liAllData" class="active"><a href="@Url.Action("IndexLaborDispatch")">全部数据</a></li>
    <li id="liSelftData"><a  href="@Url.Action("IndexLaborDispatch")?isSelfData=true">自我数据</a></li>
</ul>
<div id="ItemListDIV">
    <div>
        @using (Html.BeginForm())
        {
            @Html.HiQuery("QueryControl").QueryConditionList(queryItemList).IsDisplayBrackets(false).Render()
        }
    </div>
    <div class="OperateArea" id="OperateAreaContainer">
        <div class="btn-group"></div>
    </div>
    <div id="MyTable_tableLayout">
        <div id="MyTable_tableFix">
            <table id="MyTable_tableFixClone" border="1" cellspacing="0" cellpadding="0"></table>
        </div>
        <div id="MyTable_tableHead">
            <table id="MyTable_tableHeadClone" border="1" cellspacing="0" cellpadding="0"></table>
        </div>
        <div id="MyTable_tableColumn">
            <table id="MyTable_tableColumnClone" border="1" cellspacing="0" cellpadding="0"></table>
        </div>
        <div id="MyTable_tableData">
            <table id="MyTable" style="width: 1500px" class="grid" border="1" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th style="width: 150px">操作
                        </th>
                        <th style="width: 220px">企业名称
                        </th>
                        <th style="width: 100px">联系人
                        </th>
                        <th style="width: 50px">状态
                        </th>
                        <th style="width: 80px">开发人员
                        </th>
                        <th style="width: 80px">服务人员
                        </th>
                        <th>联系地址
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EnterpriseServiceEntity entity in Model)
                    {
                        rowNumber++;
                        string dropupClass = string.Empty;
                        if (Model.Count > 3 && rowNumber > Model.Count - 3)
                        {
                            dropupClass = "dropup";
                        }
                        string entityGuid = entity.EnterpriseGuid.ToString();
                        <tr>
                            <td>
                                @if (entity.IsOwning == true)
                                {
                                    <div class="btn-group @dropupClass" style="display:inline-block">
                                        @Html.HiA().CssClassName("modalInput btn edit " + @entityGuid).Value("<i class=\"icon-edit\"></i>编辑").ACA("Item", "Enterprise").Render(new { rel = "#EditDIV", itemKey = @entity.EnterpriseGuid })
                                        <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.HiA().CssClassName("user").Value("<i class=\"icon-user\"></i>用户").ACA("UserList", "Enterprise").RouteValue(new { itemKey = @entity.EnterpriseGuid, itemName = @entity.CompanyName, returnUrl = currentUrl, isUsingCompress = isUsingCompress }).Render()</li>
                                            <li>@Html.HiA().CssClassName("contract").Value("<i class=\"icon-file\"></i>合同").ACA("ContractList", "Enterprise").RouteValue(new { itemKey = @entity.EnterpriseGuid, itemName = @entity.CompanyName, returnUrl = currentUrl, isUsingCompress = isUsingCompress }).Render()</li>
                                            <li>@Html.HiA().CssClassName("tracker").Value("<i class=\"icon-time\"></i>回访").ACA("TrackerList", "Enterprise").RouteValue(new { itemKey = @entity.EnterpriseGuid, itemName = @entity.CompanyName, returnUrl = currentUrl, isUsingCompress = isUsingCompress }).Render()</li>
                                            <li>@Html.HiA().CssClassName("job").Value("<i class=\"icon-book\"></i>简章").ACA("JobList", "Enterprise").RouteValue(new { itemKey = @entity.EnterpriseGuid, itemName = @entity.CompanyName, returnUrl = currentUrl, isUsingCompress = isUsingCompress }).Render()</li>
                                            <li>@Html.HiA().CssClassName("labor").Value("<i class=\"icon-magnet\"></i>劳务人员").ACA("Index", "Labor").RouteValue(new { LaborQuery_QueryControlDisplayStatus="open",LaborQuery_ConditionCountName=1,LaborQuery_ConditionFieldName_0="CurrentEnterpriseName",LaborQuery_ConditionTypeName_0="System.String,mscorlib",LaborQuery_ConditionValueName_0=entity.CompanyName,LaborQuery_ConditionOperatorName_0="like", returnUrl = currentUrl, isUsingCompress = isUsingCompress }).Render()</li>
                                        </ul>
                                    </div> 
                                }
                                else
                                {
                                    <span>尚无操作此条数据的权限</span>
                                }
                            </td>
                            <td>@Html.Raw(ControlUtil.TitledAndTrimedSpan(entity.CompanyName, 15))
                            </td>
                            <td>@Html.Raw(ControlUtil.TitledAndTrimedSpan(entity.ContactPerson, 6))
                            </td>
                            <td>@EnumHelper.GetDisplayValue(entity.CanUsable)
                            </td>
                            <td>@entity.BusinessUserName
                            </td>
                            <td>@entity.ServiceUserName
                            </td>
                            <td>@entity.PrincipleAddress
                            </td>
                        </tr>   
                    }
                    @if (Model.Count < 4)
                    { 
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="myPager">
        <span style="float: left;">@Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "id", ShowDisabledPagerItems = false, AlwaysShowFirstLastPageNumber = true }) </span>
        &nbsp;(共<span>@Model.TotalItemCount</span>条/每页<span>@SystemConst.CountPerPage</span>条 当前第<span>@Model.CurrentPageIndex</span> 页/共<span>@Model.TotalPageCount</span>页)
    </div>
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aEnterpriseSection").click();
            $("#aEnterpriseSection").addClass("current");
            $("#aEnterpriseListForLaborDispatch").addClass("current");

            $(".modalInput").overlay({
                mask: {
                    color: '#ebecff',
                    loadSpeed: 200,
                    opacity: 0.9
                },
                closeOnClick: false
            });

            $("a.overlayClose").live("click", function () {
                window.location.reload();
            });

            $("#newDisplayA").click(function () {
                $(".modal").width("650px");
                var url = '@Url.Action("Item")' + '?keyGuid=&r=' + Math.random();
                $("#EditDIV").load(url);
            });

            $("a.edit").click(function () {
                $(".modal").width("650px");
                var itemKey = $(this).attr("itemKey");
                $("#currentPopupItemGuid").val(itemKey);
                var url = '@Url.Action("Item")' + '?keyGuid=' + itemKey + '&r=' + Math.random() + '&returnUrl=' + encodeURIComponent('@currentUrl') + '&isUsingCompress=@isUsingCompress';;
                $("#EditDIV").load(url);
            });

            if (document.URL.toLowerCase().indexOf("isselfdata=true") > 0) {
                $("#liSelftData").addClass("active");
                $("#liAllData").removeClass("active");
            }
        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fixTable.js")" ></script>
    <script type="text/javascript">
        fixTable("MyTable", 2, "100%", 400);
    </script>
</div>
