@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.General.Entity;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@using HiLand.General;

@model EnterpriseEntity
@{
    ViewBag.Title = "企业信息";
    this.Layout = null;
}
<div id="formContainer">
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td style="width: 120px;">企业名称:
                </td>
                <td>@Html.TextBoxFor(entity => entity.CompanyName)
                </td>
                <td style="width: 120px;">企业简称:
                </td>
                <td>@Html.TextBoxFor(entity => entity.CompanyNameShort)
                </td>
            </tr>
            <tr>
                <td>所属行业:
                </td>
                <td>@HtmlHelperEx.XQYCDDLEnterpriseType(Html, "IndustryKey", Model.IndustryKey)
                </td>
                <td>企业性质:
                </td>
                <td>@Html.DropDownListFor(entity => entity.BusinessType, EnumEx.BuildSelectItemList<EnterpriseTypes>())
                </td>
            </tr>
            <tr>
                <td>所在地区:
                </td>
                <td>@HtmlHelperEx.XQYCDDLArea(Html, "AreaCode", Model.AreaCode)
                </td>
                <td>联系人信息:
                </td>
                <td>@Html.TextBoxFor(entity => entity.ContactPerson)
                </td>
            </tr>
            <tr>
                <td>企业地址:
                </td>
                <td>@Html.TextBoxFor(entity => entity.PrincipleAddress)
                </td>
                <td>地区范围:
                </td>
                <td>@Html.TextBoxFor(entity => entity.AreaOther)
                </td>
            </tr>
            <tr>
                <td style="width: 120px;">电话:
                </td>
                <td>@Html.TextBoxFor(entity => entity.Telephone)
                </td>
                <td>手机:
                </td>
                <td>@Html.TextBoxFor(entity => entity.TelephoneOther)
                </td>
            </tr>
            <tr>
                <td>传真:
                </td>
                <td>@Html.TextBoxFor(entity => entity.Fax)
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 120px;">Email:
                </td>
                <td>@Html.TextBoxFor(entity => entity.Email)
                </td>
                <td>网站:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseWWW)
                </td>
            </tr>
            <tr>
                <td>邮政编码:
                </td>
                <td>@Html.TextBoxFor(entity => entity.PostCode)
                </td>
                <td>人员规模:
                </td>
                <td>@Html.DropDownListFor(entity => entity.StaffScope, EnumEx.BuildSelectItemList<StaffScopes>("staffCount"))
                </td>
            </tr>
            <tr>
                <td>合作意向:
                </td>
                <td>@Html.DropDownListFor(entity => entity.EnterpriseLevel, EnumEx.BuildSelectItemList<CommonLevels>("star"))
                </td>
                <td>企业状态:
                </td>
                <td>@Html.DropDownListFor(entity => entity.CanUsable, EnumEx.BuildSelectItemList<Logics>())
                </td>
            </tr>
            <tr>
                <td>备注:
                </td>
                <td colspan="3">@Html.TextAreaFor(entity => entity.EnterpriseMemo)
                </td>
            </tr>
        </table>
        <input type="hidden" id="KeyGuid" value="@Model.EnterpriseGuid" />
        <input type="button" id="submitButton" value="保存" class="btn btn-warning" /><a class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form");
        });
    });
</script>

