@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@using HiLand.General.Entity;

@model EnterpriseJobEntity
@{
    ViewBag.Title = "企业招工简章信息";
    this.Layout = null;

    string enterpriseKey = this.ViewBag.EnterpriseKey;
    if (Model.IsEmpty == false)
    {
        enterpriseKey = Model.EnterpriseKey;
    }
}
<div id="formContainer">
    <style type="text/css">
        #formContainer table td {
        }
    </style>
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td style="width: 150px;">简章标题:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseJobTitle)
                </td>
                <td>简章状态:
                </td>
                <td>@Html.DropDownListFor(entity => entity.CanUsable, EnumEx.BuildSelectItemList<Logics>())
                </td>
            </tr>
            <tr>
                <td>联系方式:
                </td>
                <td>@Html.TextBoxFor(entity => entity.EnterpriseContackInfo)
                </td>
                <td>面试时间:
                </td>
                <td>@Html.TextBoxFor(entity => entity.InterviewDateInfo)
                </td>
            </tr>
            <tr>
                <td>岗位说明:
                </td>
                <td>@Html.TextAreaFor(entity => entity.EnterpriseJobStation)
                </td>
                <td>企业简介:
                </td>
                <td>@Html.TextAreaFor(entity => entity.EnterpriseDesc)
                </td>
            </tr>
            <tr>
                <td>岗位要求:
                </td>
                <td>@Html.TextAreaFor(entity => entity.EnterpriseJobDemand)
                </td>
                <td>待遇说明:
                </td>
                <td>@Html.TextAreaFor(entity => entity.EnterpriseJobTreadment)
                </td>
            </tr>
        </table>
        <input type="hidden" id="EnterpriseKey" value="@enterpriseKey" />
        <input type="hidden" id="ItemKey" value="@Model.EnterpriseJobGuid" />
        <input type="button" id="submitButton" value="保存" class="btn btn-warning" /><a class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form");
        });
    });
</script>
