@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@using HiLand.General.BLL;
@using HiLand.Utility.Web;

@model List<ImageEntity>
@{
    ViewBag.Title = "Index";

    string enterpriseJobKey = this.ViewBag.EnterpriseJobKey;

    string returnUrl = RequestHelper.GetValue("returnUrl");
    bool isUsingCompress = RequestHelper.GetValue<bool>("isUsingCompress");
    if (isUsingCompress == true && string.IsNullOrWhiteSpace(returnUrl) == false)
    {
        returnUrl = CompressHelper.Decompress(returnUrl);
    }
    if (string.IsNullOrWhiteSpace(returnUrl))
    {
        returnUrl = Url.Action("Index");
    }
}

<h2>企业招工简章图片列表</h2>
<div id="ItemListDIV">
    <div class="OperateArea" id="OperateAreaContainer">
        <div class="btn-group"><a href="@returnUrl" class="btn btn-warning" title="返回列表页"><i class="icon-share icon-white"></i>返回</a>@Html.HiA("newDisplayA").CssClassName("modalInput btn btn-warning").Value("<i class=\"icon-check icon-white\"></i>新建").ACA("JobPictureItem", "Enterprise").Render(new { rel = "#EditDIV" })</div>
    </div>
    <table width="98%" class="grid">
        <tr>
            <th style="width: 150px">操作
            </th>
            <th style="width: 80px">创建时间
            </th>
            <th style="width: 80px">图片状态
            </th>
            <th style="width: 150px">图片名称
            </th>
            <th>图片序号
            </th>
        </tr>
        @foreach (ImageEntity entity in Model)
        {
            string entityGuid = entity.ImageGuid.ToString();
            <tr>
                <td>
                    @Html.HiA().CssClassName("modalInput edit "+ @entityGuid).Value("<i class=\"icon-edit\"></i>编辑").ACA("JobPictureItem", "Enterprise").Render(new { rel = "#EditDIV", itemKey = entityGuid }) @*| 
                    @Html.HiA().CssClassName("modalInput delete "+ @entityGuid).Value("<i class=\"icon-trash\"></i>删除").ACA("JobPictureDelete", "Enterprise").RouteValue(new {itemKey = entityGuid }).Render() | *@
                </td>
                <td>@entity.CreateTime.ToShortDateString()
                </td>
                <td>@EnumHelper.GetDisplayValue(entity.CanUsable)
                </td>
                <td>@entity.ImageName
                </td>
                <td>@entity.ImageOrder
                </td>
            </tr>   
        }
    </table>
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aEnterpriseSection").click();
            $("#aEnterpriseSection").addClass("current");
            $("#aEnterpriseList").addClass("current");

            $(".modalInput").overlay({
                mask: {
                    color: '#ebecff',
                    loadSpeed: 200,
                    opacity: 0.9
                },
                closeOnClick: false
            });

            $("a.overlayClose").live("click", function () {
                var currentItemGuid = $("#currentPopupItemGuid").val();
                $(".modalInput").overlay().close();
                $(".modalInput.edit." + currentItemGuid).overlay().close();
            });

            $("#newDisplayA").click(function () {
                var url = '@Url.Action("JobPictureItem")?r=' + Math.random() + '&itemKey=&enterpriseJobKey=@enterpriseJobKey';
                $("#EditDIV").load(url);
            });

            $("a.edit").click(function () {
                var itemKey = $(this).attr("itemKey");
                $("#currentPopupItemGuid").val(itemKey);
                var url = '@Url.Action("JobPictureItem")?r=' + Math.random() + '&itemKey=' + itemKey + '&enterpriseJobKey=@enterpriseJobKey';
                $("#EditDIV").load(url);
            });
        });
    </script>
</div>