@using Webdiyer.WebControls.Mvc;
@using HiLand.General.Entity;
@using HiLand.Utility4.MVC;
@using HiLand.General;
@using HiLand.Utility4.MVC.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework4.Permission.Controls;
@using HiLand.Utility.Data;
@using XQYC.Business.Entity;
@using HiLand.General.BLL;
@using HiLand.Utility.Web;

@model List<TrackerEntity>
@{
    ViewBag.Title = "Index";

    string enterpriseKey = this.ViewBag.EnterpriseKey;
    string enterpriseName = this.ViewBag.EnterpriseName;
    if(string.IsNullOrWhiteSpace( enterpriseName))
    {
        enterpriseName= EnterpriseBLL.Instance.Get(enterpriseKey).CompanyName;
    }

    string returnUrl = RequestHelper.GetValue("returnUrl");
    bool isUsingCompress = RequestHelper.GetValue<bool>("isUsingCompress");
    if (isUsingCompress == true && string.IsNullOrWhiteSpace(returnUrl) == false)
    {
        returnUrl = CompressHelper.Decompress(returnUrl);
    }
    if (string.IsNullOrWhiteSpace(returnUrl))
    {
        returnUrl = Url.Action("Index");
    }
}

<h2>企业回访信息列表(@enterpriseName)</h2>
<div id="ItemListDIV">
    <div class="OperateArea" id="OperateAreaContainer">
        <div class="btn-group"><a href="@returnUrl" class="btn btn-info" title="返回列表页"><i class="icon-share icon-white"></i>返回</a>@Html.HiA("newDisplayA").CssClassName("modalInput btn btn-info").Value("<i class=\"icon-check icon-white\"></i>新建").ACA("TrackerItem", "Enterprise").Render(new { rel = "#EditDIV" })</div>
    </div>
    <table width="98%" class="grid">
        <tr>
            <th style="width: 50px">操作
            </th>
            <th style="width: 80px">创建时间
            </th>
            <th style="width: 80px">回访时间
            </th>
            <th style="width: 50px">回访人员
            </th>
            <th>回访信息
            </th>
        </tr>
        @foreach (TrackerEntity entity in Model)
        {
            string entityGuid = entity.TrackerGuid.ToString();
            <tr>
                <td>
                    @Html.HiA().CssClassName("modalInput edit "+ @entityGuid).Value("<i class=\"icon-edit\"></i>编辑").ACA("TrackerItem", "Enterprise").Render(new { rel = "#EditDIV", itemKey = @entity.TrackerGuid }) | 
                </td>
                <td>@entity.CreateTime.ToShortDateString()
                </td>
                <td>@entity.TrackerTime.ToShortDateString()
                </td>
                <td>@entity.TrackerUserKey
                </td>
                <td>@entity.TrackerTitle
                </td>
            </tr>   
        }
    </table>
    <input type="hidden" id="currentPopupItemGuid" name="currentPopupItemGuid" value="" />
    <div class="modal modalFix" id="EditDIV">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aEnterpriseSection").click();
            $("#aEnterpriseSection").addClass("current");
            $("#aEnterpriseList").addClass("current");

            $(".modalInput").overlay({
                mask: {
                    color: '#ebecff',
                    loadSpeed: 200,
                    opacity: 0.9
                },
                closeOnClick: false
            });

            $("a.overlayClose").live("click", function () {
                var currentItemGuid = $("#currentPopupItemGuid").val();
                $(".modalInput").overlay().close();
                $(".modalInput.edit." + currentItemGuid).overlay().close();
            });

            $("#newDisplayA").click(function () {
                var url = '@Url.Action("TrackerItem")?r=' + Math.random() + '&itemKey=&enterpriseKey=@enterpriseKey';
                $("#EditDIV").load(url);
            });

            $("a.edit").click(function () {
                var itemKey = $(this).attr("itemKey");
                $("#currentPopupItemGuid").val(itemKey);
                var url = '@Url.Action("TrackerItem")?r=' + Math.random() + '&itemKey=' + itemKey + '&enterpriseKey=@enterpriseKey';
                $("#EditDIV").load(url);
            });
        });
    </script>
</div>



